/* TreeView Responsive Layout */
.treeview-mobile {
  --treeview-item-height: 2.2em;
  --treeview-font-size: 0.9em;
  --treeview-icon-size: 1.2em;
  --treeview-sub-margin: 1.2em;
}

.treeview-tiny {
  --treeview-sub-margin: 0.8em;
}

.treeview-mobile .ood-ui-bar {
  height: var(--treeview-item-height);
  font-size: var(--treeview-font-size);
}

.treeview-mobile .ood-ui-caption {
  font-size: var(--treeview-font-size);
}

.treeview-tiny .ood-ui-itemicon {
  display: none;
}

/* High contrast mode specific adjustments */
.treeview-hc.treeview-tiny .ood-ui-itemicon {
  display: block;
  font-size: 1.2em;
}